{{response.title='OneZoom IUCN page'}}
{{extend 'popup.html'}}

<div class="main_content">

<center><h3>
International Union for Conservation of Nature (IUCN) Red List of Threatened Species.
</h3></center>

<p>
The IUCN Red List is the most comprehensive resource for information on the degree to which species are threatened with extinction.  It isn't possible to show the IUCN page here in a window but you can go to their website for more information about extinction risk for this species in your own browser: https://www.iucnredlist.org/
</p>

<p>
IUCN Red List status gives an indication of extinction risk for species.  The default colour scheme of our tree of life shows the degree to which species are threatened with global extinction from the colour scheme used on their leaves.
</p>

<center><img src= "{{=URL('static','images/IUCN_col_key.jpg')}}" alt="" style = "width:100%"></img></center>



</div>

